Repository refined-github/refined-github, changes with the owners that .github/CODEOWNERS names for each.
All owners: @HardikModha, @idasbiste, @dotconnor

Update readme.md
  readme.md
Owners: none

Update source/features/open-issue-to-latest-comment.tsx
  source/features/open-issue-to-latest-comment.tsx
Owners: @dotconnor

update `open-issue-to-latest-comment` image
  readme.md
Owners: none

Remove `scroll-to-top-on-collapse` feature (#2036)
  source/background.ts
  source/content.ts
  source/features/scroll-to-top-on-collapse.tsx
Owners: none

Revert "Sort tags for better semantic comparison"
  package-lock.json
  package.json
  source/features/tag-changelog-link.tsx
Owners: @HardikModha

Improve tagging automation
  .travis.yml
  package.json
Owners: none

Fix spacing for `tags-dropdown`
  source/features/tags-dropdown.tsx
Owners: @HardikModha

Temporarily disable `default-to-rich-diff`
  source/features/default-to-rich-diff.tsx
  source/libs/features.tsx
Owners: @idasbiste

Improve tagging automation /2
  .travis.yml
Owners: none

.github/CODEOWNERS:

source/features/filter-pr-by-build-status.tsx @HardikModha
source/features/tags-dropdown.tsx @HardikModha
source/features/tag-changelog-link.tsx @HardikModha
source/features/link-to-file-in-file-history.tsx @HardikModha
source/features/default-to-rich-diff.tsx @idasbiste
source/features/open-issue-to-latest-comment.tsx @dotconnor
