Repository refined-github/refined-github, pull requests merged in 2018-09, with the labels that each got.

#1363 Add "Not reviewed by you" filter
  readme.md
  source/content.js
  source/features/add-filter-not-reviewed-by-you.js
Labels: enhancement, needs readme update

#1440 Set default repositories type to sources
  readme.md
  source/content.js
  source/features/set-default-repositories-type-to-sources.js
Labels: needs readme update

#1483 Fix "Trending" menu item when displayed in navigation accordion
  source/features/add-trending-menu-item.js
Labels: do not merge yet

#1526 Hide useless comments
  readme.md
  source/content.css
  source/content.js
  source/features/hide-useless-comments.js
Labels: needs readme update
